* {
  margin: 0;
  padding: 0;
}
#header {
  background-color: #483c3c;
}
#top {
  position: relative;
  color: white;
  top: 0;
  height: 80px;
  width: 1055px;
  margin: 0 auto;
  overflow: hidden;
}
#logo {
  float: left;
  /* margin-left: 150px; */
  margin-right: 40px;
  position: relative;
  top: 10px;
  overflow: hidden;
}
#logo div {
  display: inline-block;
}
#logo img {
  width: 60px;
}
#logo h3 {
  font-size: 21px;
  font-weight: normal;
  margin-bottom: 3px;
  margin-top: 0;
}
#logo h3 span {
  margin-right: 10px;
}
#logo hr {
  margin: 0;
}
#logo p {
  font-size: 12px;
  margin-top: 3px;
}
#columns {
  float: left;
  position: relative;
  top: 24px;
}
ul#columns li {
  float: left;
  list-style-type: none;
  margin-right: 30px;
}
ul#columns li a {
  text-decoration: none;
  display: inline-block;
  color: white;
}
#right {
  float: right;
  position: relative;
  top: 24px;
}
#right p:nth-child(2){
  text-align: right;
  padding-top:3px;
  font-size:14px;
}
#right #search-text {
  width: 100px;
  border: 0;
  background-color: black;
  height: 26px;
  border-radius: 12px;
}
#right a {
  margin-left: 15px;
  text-decoration: none;
  color: white;
}
#right #btnSearch {
  vertical-align: middle;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: absolute;
  left: 70px;
  background: url(../../imgs/search.png) #348434 no-repeat 5px;
  border-radius: 0 12px 12px 0;
}

#selectedTab {
  border: 10px solid;
  border-color: transparent transparent white transparent;
  width: 0;
  position: absolute;
  bottom: 0;
}

.border-down {
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid silver;
  position: relative;
  margin-left: 50px;
}
.border-down span {
  display: block;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 10px solid white;
  position: absolute;
  left: -9px;
  top: -11px;
}

.wrapper{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  padding-top: 140px;
  /* 大盒子 */
  display: none;
  z-index: 1000;
}


#login-dlg {
  font-size: 13px;
  bottom: 25px;
  width: 255px;
  height: 360px;
  padding:10px 20px;
  background: #fff;
  margin:0 auto;
}

#login-dlg p {
  margin-bottom: 8px;
}

#close-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 248px;
  top: -10px;
  cursor: pointer;
}
#login-dlg #btnLogin {
  padding: 5px;
  height: 37px;
  border: 1px solid #394817;
  background-color: #394817;
  width: 239px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
#login-dlg input[type="text"],
#login-dlg input[type="password"] {
  border: 1px solid silver;
  padding: 5px;
  height: 25px;
  width: 227px;
}
#login-dlg .select {
  font-weight: bold;
}
#login-dlg .unselect {
  font-weight: bold;
  color: white;
  background-color: #e25c5c;
}
#login-dlg p:nth-child(1) a {
  display: inline-block;
  width: 115px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  text-decoration: none;
  border: 1px solid silver;
}

#login-dlg p:nth-child(4) a {
  display: inline-block;
  width: 142px;
  height: 42px;
  background: url("../../imgs/yanzhengma.jpg") no-repeat;
  position: relative;
}

#login-dlg ul li {
  list-style-type: none;
  float: left;
}

#login-dlg ul li:nth-child(1) a {
  background: url("../../imgs/login_icon.png") 0 0 no-repeat;
  background-color: lightgray;
}

#login-dlg ul li:nth-child(2) a {
  background: url("../../imgs/login_icon.png") -59px 0 no-repeat;
  background-color: lightgray;
}

#login-dlg ul li:nth-child(3) a {
  background: url("../../imgs/login_icon.png") -118px 0 no-repeat;
  background-color: lightgray;
}

#login-dlg ul li a {
  display: block;
  width: 55px;
  height: 44px;
}
